.navbar-brand{
	font-size: 4em;
}
.card-header{
	font-size: 20px;
	background-color: #e74c3c;
	color: #ffffff;
}
.btn{
	background-color: #e74c3c;
	border: none;
}
.btn:hover, .btn:focus {
  background: #d25043;
}