.form{
  padding-top: 30px;

}
.title-box-d {
  padding-bottom: 1.8rem;
  margin-bottom: 1rem;
  position: relative;
}

.title-box-d .title-d {
  font-weight: 600;
  font-size: 2rem;
}

.title-box-d .title-d:after {
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: #2eca6a;
  bottom: 20px;
  left: 0;
}

.box-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1040;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.6s ease;
}

.box-collapse .title-box-d {
  top: 30px;
  left: 60px;
  opacity: 0;
  transition: all 1s ease;
  transition-delay: .3s;
}

.box-collapse-wrap {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 6.5rem;
  bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  -webkit-transform: translateY(3rem);
  transform: translateY(3rem);
  transition: opacity 0.5s 0.5s ease, -webkit-transform 0.5s 0.5s ease;
  transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease;
  transition: transform 0.5s 0.5s ease, opacity 0.5s 0.5s ease, -webkit-transform 0.5s 0.5s ease;
}

.box-collapse-open .click-closed {
  visibility: visible;
}

.box-collapse-open .box-collapse {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.07);
  opacity: 1;
}

.box-collapse-open .box-collapse .title-box-d {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1;
}

.box-collapse-open .box-collapse-wrap {
  -webkit-transform: translate(0);
  transform: translate(0);
  opacity: 1;
}

.box-collapse-closed .box-collapse {
  opacity: .7;
  transition-delay: 0s;
}

.box-collapse-closed .box-collapse .title-box-d {
  opacity: 0;
  transition-delay: 0s;
}

.box-collapse-closed .box-collapse .form-a {
  opacity: 0;
  transition-delay: 0s;
}

.click-closed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 1035;
  background-color: #000000;
  opacity: .4;
}

.close-box-collapse {
  position: absolute;
  z-index: 1050;
  top: 2rem;
  font-size: 3.5rem;
  line-height: 1;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-boxed {
  right: 4.2857rem;
}

.form-a select.form-control-lg:not([size]):not([multiple]) {
  height: 3.5rem;
}

.form-a .form-control {
  border-radius: 0;
  font-size: 1.1rem;
  font-weight: 300;
}

.form-a .form-control.form-control-a {
  height: 3.5rem;
}

.form-a .form-control:focus {
  box-shadow: none;
  border-color: #2eca6a;
}

/*======================================
//--//-->   BUTTON
======================================*/

.btn {
  transition: .5s ease;
}

.btn.btn-a,
.btn.btn-b {
  border-radius: 0;
  padding: 1rem 3rem;
  letter-spacing: .05rem;
}

.btn.btn-a {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-a:hover {
  background-color: #2eca6a;
  color: #000000;
}

.btn.btn-b {
  background-color: #2eca6a;
  color: #000000;
}

.btn.btn-b:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-b-n {
  display: none;
  align-self: flex-start;
  margin-right: 30%;
  background-color: #d80247;
  color: #ffffff;
  border-radius: 12px;
}

.btn.btn-b-n:hover {
  background-color: #26a356;
  background-color: #111;
  color: #ffffff;
}

.fa
{
  font-size: 1.9em;
}

.country_option,
.city_option{
  font-size: 14px;
}

@media (min-width: 768px) {

  .box-collapse {
    width: 50%;
  }
}

